/**
 * ############
 * ### LOGO ###
 * ############
 */

header.main-header {
    width: 100%;
    height: 130px;
    max-height: 130px;
    padding-top: 15px;
}

header.main-header .header-container {
    width: 100%;
    border-bottom: 3px solid #ffb148;
    height: 50%;
}

header.main-header:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

header.main-header .left-link {
    float: left;
    width: 33.33333333%;
    margin-top: 30px;
}

header.main-header .logo {
    text-align: center;
}

header.main-header .right-link {
    float: right;
    width: 33.33333333%;
    margin-top: 30px;
}

header.main-header .logo-border {
    float: left;
    width: 33.33333333%;
}

header.main-header .logo img {
    max-height: 130px;
}

header.main-header a.logo-bg {
    background: #FFFFFF;
    padding-left: 10px;
    padding-right: 10px;
    display: inline-block;
}

/**
 * ##############
 * ### SOCIAL ###
 * ##############
 */

header.main-header .social {
    margin-left: 50px;
}

header.main-header .social .icon {
    float: left;
    padding-right: 5px;
}

header.main-header .social .icon svg {
    height: 35px;
}

header.main-header .social .icon svg:hover {
    fill: #3b5998;
}

/**
 * ###########################
 * ### PULSANTI ANIMAZIONI ###
 * ###########################
 */

.btn {
    transition: background 0.2s, color 0.2s;
    transition-timing-function: ease-in-out;
}

/**
 * MOBILE
 */


 @media only screen and (max-width: 768px) {

   header.main-header {
     max-height: 100px;
   }

   header.main-header .logo {
     text-align: left;
   }

   .main-header .left-link,
   .main-header .right-link {
     display: none;
   }


}
